.offer-modal {
    position: fixed;
    max-width: 700px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    display: flex;
    align-items: center;
    padding: 45px 10px;
    border-radius: 10px;
}
@media screen and (max-width: 640px) {
    .offer-modal {
        width: 90%;
    }
}