.remove-cart-icon {
    position: absolute;
    right: 7px;
    top: 7px;

}
.remove-cart-icon:hover {
    background-color: #2b2a2a;
    cursor: pointer;
}

.cart-total {
    height: 540px;
}

@media screen and (min-width: 1024px) {
    .cart-total {
            height: 460px;
        }
}