.secondary-bg {
    background-color: #207398;
}
.secondary-text {
    color: #207398;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #797979;
}
.mobile-menu {
    height: 100vh;
    width: 320px;
    background-color: #181515;
    color: white;
    position: fixed;
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.menu-link {
    position: relative;
    cursor: pointer;
}
.menu-link::after {
    position: absolute;
    content: "";
    background-color: #10b981;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: all ease 0.3s;
}
.menu-link:hover::after {
    width: 100%;
}
.search {
    background-color: transparent;
}
.active {
    color: #10b981;
}
.active .menu-link::after {
    width: 100%;
}