.secondary-bg {
    background-color: #207398;
}
.secondary-text {
    color: #207398;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #797979;
}
.mobile-menu {
    height: 100%;
    width: 320px;
    background-color: #181515;
    color: white;
    position: fixed;
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.menu-link {
    position: relative;
    cursor: pointer;
}
.menu-link::after {
    position: absolute;
    content: "";
    background-color: #31A6E9;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: all ease 0.3s;
}
.menu-link:hover::after {
    width: 100%;
}
.search {
    background-color: transparent;
}
.active {
    color: #31A6E9 !important;
}
.active .menu-link::after {
    width: 100%;
}
.logout-btn-mb {
    position: absolute;
    left: 0;
    bottom: 10px;
}
.user-icon {
    /* position: relative; */
    cursor: pointer;
}
.my-account {
    position: relative;
}
.my-account-sub {
    position: absolute;
    right: 0;
    top: 22px;
    width: 185px;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0px 1px 4px 1px #6e6e6e9c;
    z-index: 99;
    display: none;
    transition: .4s ease-in;
    transition-delay: 400s;
}
.my-account-sub h4 {
    color: #31A6E9;
}
.my-account-sub a {
    margin: 10px 0;
    display: block;
}
.my-account:hover .my-account-sub{
    display: block;
}
.my-account-sub-mb {
    position: absolute;
    right: 0;
    top: 35px;
    width: 185px;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0px 1px 4px 1px #6e6e6e9c;
    z-index: 99;
    transition: .4s ease-in;
    transition-delay: 400s;
}
.my-account-sub-mb a {
    display: block;
    margin: 8px 0;
    color: #31A6E9;
}